-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
attrs==25.3.0; python_version >= '3.8'
automat==24.8.1; python_version >= '3.8'
certifi==2025.1.31; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
chardet==5.2.0; python_version >= '3.7'
charset-normalizer==3.4.1; python_version >= '3.7'
cloudinary==1.44.0
coinbase-commerce==1.0.1
constantly==23.10.4; python_version >= '3.8'
cryptography==44.0.2; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
cssselect==1.3.0; python_version >= '3.9'
defusedxml==0.8.0rc2; python_version >= '3.6'
dj-database-url==2.3.0
dj-stripe==2.9.0b3; python_full_version >= '3.9.0' and python_full_version < '4.0.0'
django==4.2.20; python_version >= '3.8'
django-allauth==65.7.0; python_version >= '3.8'
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0; python_version >= '3.9'
django-countries==7.6.1
django-htmx==1.23.0; python_version >= '3.9'
django-newsletter==1.0; python_version >= '3.8'
django-phonenumber-field[phonenumberslite]==8.1.0; python_version >= '3.9'
django-solo==2.4.0; python_version >= '3.9'
django-tempus-dominus==5.1.2.17
django-tinymce==4.1.0; python_version >= '3.8'
django-user-agents==0.4.0
django-widget-tweaks==1.5.0; python_version >= '3.8'
djangorestframework==3.16.0; python_version >= '3.9'
filelock==3.18.0; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
hyperlink==21.0.0
idna==3.10; python_version >= '3.6'
incremental==24.7.2; python_version >= '3.8'
itemadapter==0.11.0; python_version >= '3.9'
itemloaders==1.3.2; python_version >= '3.8'
jmespath==1.0.1; python_version >= '3.7'
ldif3==3.1.1
lxml==5.3.2; python_version >= '3.6'
packaging==24.2; python_version >= '3.8'
parsel==1.10.0; python_version >= '3.9'
phonenumberslite==9.0.3
pillow==11.2.1; python_version >= '3.9'
protego==0.4.0; python_version >= '3.9'
psycopg==3.2.6; python_version >= '3.8'
psycopg2-binary==2.9.10; python_version >= '3.8'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydispatcher==2.0.7; platform_python_implementation == 'CPython'
pyopenssl==25.0.0; python_version >= '3.7'
python-card-me==0.9.3
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.1.0; python_version >= '3.9'
python-memcached==1.62
pyyaml==6.0.2; python_version >= '3.8'
queuelib==1.8.0; python_version >= '3.9'
requests==2.32.3; python_version >= '3.8'
requests-file==2.1.0
scrapy==2.12.0; python_version >= '3.9'
service-identity==24.2.0; python_version >= '3.8'
setuptools==78.1.0; python_version >= '3.9'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sqlparse==0.5.3; python_version >= '3.8'
stripe==12.1.0b2; python_version >= '3.6'
tldextract==5.2.0; python_version >= '3.9'
tomli==2.2.1; python_version >= '3.8'
twisted==24.11.0; python_full_version >= '3.8.0'
typing-extensions==4.13.2; python_version >= '3.8'
tzdata==2025.2; python_version >= '2'
ua-parser==1.0.1; python_version >= '3.9'
ua-parser-builtins==0.19.0.dev66; python_version >= '3.9'
unicodecsv==0.14.1
urllib3==2.4.0; python_version >= '3.9'
user-agents==2.2.0
w3lib==2.3.1; python_version >= '3.9'
whitenoise==6.9.0; python_version >= '3.9'
zope.interface==7.2; python_version >= '3.8'
